body{
    background-color: rgb(68, 117, 128);
}
h1{
    font-size:50px;
    font-family: monospace;
    position:fixed; top:30px;left:820px;
    text-shadow: 5px 2px rgb(163, 237, 247);
    
}
h2{
    text-shadow: 5px 2px rgb(163, 237, 247);
    font-size:150px;
    position:fixed; top:-150px;left:770px;
    font-family: cursive;
}

.pugfei{
    position:relative; top:150px;
    width:38%;
    box-shadow: 0px 0 20px black;
}
.titulodopug{
    font-size:60px;
    position:relative; top: -320px; left: 750px;
    font-family:serif;
    text-shadow: 0 0 2px white;
}

.curiosidades{
    position:relative; top: -320px; left: 750px;
    font-size: 25px;
    font-family:arial;
}
.subtitulocuriosi{ 
    position:relative; top: -320px; left: 750px;
    font-family:arial;
}
.horizontal{
    position:fixed; left: 0px; top:120px;
    height:4px;border-width:0;width:100%;color:rgb(68, 117, 128);background-color:rgb(68, 117, 128);;
    box-shadow: 0 5px 10px black;
}

.horizontal2{
    position:fixed; left: 0px; top:600px;
    height:4px;border-width:0;width:100%;color:rgb(48, 86, 95);background-color:rgb(48, 86, 95);
    box-shadow: 0 2px px black;
}
.pinscherfofo{
    position:relative; top:550px;
    width:10%;
    box-shadow: 0px 0 20px black;
}